#app .btn{
	width: 110px;
}
#app ul{
	display: inline;
}
#app ul li{
	display: inline;
}
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
#home{
	width: 100%
}